IDI_ICON1               ICON                    "cs.ico"
1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS 0x4
FILETYPE 0x1
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
				VALUE "CompanyName", "riicchhaarrd"
				VALUE "FileDescription", "scripting language"
				VALUE "FileVersion", "1.0.0.0"
				VALUE "InternalName", "gsc"
				VALUE "LegalCopyright", "Copyright 2020 riicchhaarrd. All rights reserved."
				VALUE "ProductName", "gsc executable"
				VALUE "OriginalFilename", "gsc.exe"
				VALUE "ProductVersion", "1.0.0.0"
				VALUE "CompanyShortName", "riicchhaarrd"
				VALUE "ProductShortName", "gsc installer"
				VALUE "LastChange", "c3d30e34ae9d8828aa29992904d02bc87f485f36"
				VALUE "Official Build", "1"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409 0x04B0
	}
}